In [1]:
# requires ...
# pip install pandas pandas-datareader
import pandas as pd
import pandas_datareader.data as web
df = web.DataReader('AAPL', 'stooq')

In [2]:
df

               Open     High      Low    Close     Volume
Date
2022-01-14  171.340  173.780  171.090  173.070   80440780
2022-01-13  175.780  176.620  171.790  172.190   84505760
2022-01-12  176.120  177.180  174.820  175.530   74805173
2022-01-11  172.320  175.180  170.820  175.080   76138312
2022-01-10  169.080  172.500  168.170  172.190  106765552
...             ...      ...      ...      ...        ...
2017-01-24   28.133   28.263   28.123   28.230   96007016
2017-01-23   28.238   28.431   28.186   28.260   82700143
2017-01-20   28.341   28.341   28.178   28.238  120748751
2017-01-19   28.100   28.260   28.093   28.188  101321375
2017-01-18   28.238   28.354   28.170   28.236   95942212

[1259 rows x 5 columns]

In [3]:
import os
import pandas as pd
import pandas_datareader.data as web
df = web.get_sector_performance_av(api_key='xxxyyyzzz')

In [4]:
df

,RT,1D,5D,1M,3M,YTD,1Y,3Y,5Y,10Y
Energy,2.45%,2.44%,5.22%,17.51%,15.17%,16.38%,50.76%,7.35%,-10.05%,-5.84%
Information Technology,0.89%,0.89%,-0.06%,-3.61%,9.58%,-4.75%,27.38%,160.88%,248.93%,NaN
Communication Services,0.53%,0.53%,0.52%,-1.01%,-2.00%,-2.18%,21.75%,77.92%,51.54%,NaN
Consumer Staples,0.19%,0.19%,-0.42%,3.04%,10.49%,-0.04%,17.86%,51.67%,51.98%,NaN
Health Care,-0.17%,-0.17%,-0.28%,-1.06%,6.82%,-4.92%,14.58%,53.65%,90.73%,281.22%
Consumer Discretionary,-0.45%,-0.45%,-1.47%,-1.85%,5.70%,-4.03%,14.75%,86.63%,131.28%,NaN
Industrials,-0.57%,-0.57%,-0.62%,1.81%,5.86%,0.02%,18.01%,56.69%,63.87%,NaN
Utilities,-0.65%,-0.65%,-1.40%,-0.20%,6.72%,-2.99%,10.79%,30.56%,43.24%,NaN
Materials,-0.83%,-0.84%,-0.59%,1.58%,8.47%,-2.07%,15.52%,70.37%,74.64%,NaN
Financials,-1.01%,-1.01%,-0.85%,6.05%,6.74%,4.47%,30.56%,66.97%,73.85%,NaN
Real Estate,-1.18%,-1.18%,-1.98%,-2.63%,6.32%,-6.82%,36.57%,52.50%,59.31%,NaN

In [9]:
import urllib3 
import json
def api_fundamentals(symbol, api_key):
    # Fundamentals API
    url = 'www.alphavantage.co'
    querystring = '/query?function=OVERVIEW&symbol={0}&apikey={1}'.format(symbol, api_key)
    http = urllib3.PoolManager()
    r = http.request('GET', 'https://'+url+querystring)
    data = json.loads(r.data.decode('utf-8'))
    df = pd.DataFrame.from_records(data, index=[symbol])
    return df
api_key='xxxyyyzzz'
df = api_fundamentals('GME',api_key)

In [10]:
api_key='xxxyyyzzz'
df = api_fundamentals('GME',api_key)

In [12]:
df['SharesOutstanding']

GME    76351000
Name: SharesOutstanding, dtype: object